.wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: rgb(139, 45, 226);
    margin: 0 4px;
    border-radius: 5px;
    box-shadow: 0 0 0 4px rgba(139, 45, 226, 0.2),
    0 0 25px rgb(139, 45, 226),
    0 0 50px rgb(139, 45, 226),
    0 0 75px rgb(139, 45, 226),
    0 0 100px rgb(139, 45, 226);
    animation: animate 15s linear infinite;
    animation-duration: calc(150s / var(--i));
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0) rotate(0);
    }
    100% {
        transform: translateY(-10vh) scale(1) rotate(360deg);
    }
}